@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
}
.hero {
  background-image: linear-gradient(
      90deg,
      #594545 40.1%,
      rgba(89, 69, 69, 0.46) 100%
    ),
    url(../images/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}
